In [25]:
#Python code to address question 4.
#Creating a dataframe identical to the one in the question.
import numpy as np
data = {
    'Obs': [1, 2, 3, 4, 5, 6],
    'X1': [0, 2, 0, 0, -1, 1],
    'X2': [3, 0, 1, 1, 0, 1],
    'X3': [0, 0, 3, 2, 1, 1],
    'Y': ['Red', 'Red', 'Red', 'Green', 'Green', 'Red']
}

q4 = pd.DataFrame(data)

In [23]:
print(q4)

   Obs  X1  X2  X3      Y
0    1   0   3   0    Red
1    2   2   0   0    Red
2    3   0   1   3    Red
3    4   0   1   2  Green
4    5  -1   0   1  Green
5    6   1   1   1    Red

In [26]:
# test_point 

test_point = np.array([0, 0, 0])

# Compute the Euclidean distance between all rows in pandas and the test_point (0,0,0) and store in 'Distance' column.
q4['Distance'] = q4.apply(lambda row: np.linalg.norm(test_point - np.array([row['X1'], row['X2'], row['X3']])), axis=1)

print(q4)

   Obs  X1  X2  X3      Y  Distance
0    1   0   3   0    Red  3.000000
1    2   2   0   0    Red  2.000000
2    3   0   1   3    Red  3.162278
3    4   0   1   2  Green  2.236068
4    5  -1   0   1  Green  1.414214
5    6   1   1   1    Red  1.732051

In [27]:
sorted_q4 = q4.sort_values(by='Distance')
sorted_q4

   Obs  X1  X2  X3      Y  Distance
4    5  -1   0   1  Green  1.414214
5    6   1   1   1    Red  1.732051
1    2   2   0   0    Red  2.000000
3    4   0   1   2  Green  2.236068
0    1   0   3   0    Red  3.000000
2    3   0   1   3    Red  3.162278